@use '@/styles/variables' as vars;
@use '@/styles/placeholders' as holders;
@use '@/styles/mixins' as mixins;

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 11.5%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: center;
  background-color: vars.$clr-black;
  .nav {
    position: absolute;
    inset: 0;
    .nav_list {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-items: center;
      gap: 2rem;
      margin-top: 2rem;
    }

    .nav_item {
      @extend %uppercase;

      .nav_link {
        color: vars.$clr-secondary;

        &_active {
          color: vars.$clr-white;
          border-bottom: 2px solid vars.$clr-white;
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-top: 1px solid vars.$clr-secondary;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: vars.$clr-secondary;
  }
}

.icon {
  position: relative;
  background: none;
  border: none;
  color: vars.$clr-white;
  cursor: pointer;
  font-size: 1.5rem;

  svg {
   cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}


.favorites {
  position: relative;

  &_active {
    border-bottom: 3px solid vars.$clr-white;
  }
}

.cart {
  position: relative;

  &_active {
    border-bottom: 3px solid vars.$clr-white;
  }
}
