@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Mont';
  src: url(../assets/fonts/Mont-SemiBold.ttf);
  font-weight: 600;
}
