@use './variables' as vars;

%button-primary {
  font-size: vars.$fs-sm;
  font-weight: vars.$fw-medium;
  line-height: 1,3125rem;
  letter-spacing: 0;
  background-color: vars.$clr-accent;
  color: vars.$clr-white;

  &:hover {
    background-color: lighten($color: vars.$clr-accent, $amount: 20);
  }
}

%uppercase {
  text-transform: uppercase;
  font-weight: vars.$fw-bold;
  font-size: vars.$fs-xs;
  line-height: 0.69rem;
  letter-spacing: 0.04em;
}

%stext {
  font-size: vars.$fs-xs;
  font-weight: vars.$fw-medium;
  line-height: 0.94rem;
  letter-spacing: 0;
}
