@use './mixins' as mixins;
@use './variables' as vars;

:root {
  font-family: vars.$ff-primary;
  background-color: vars.$clr-black;
}

body {
  margin: 0;
  padding: 0;

  &.no-scroll {
  overflow: hidden;
}
}

h1 {
  font-size: vars.$fs-xl;
  font-weight: vars.$fw-bold;
  line-height: 2.57rem;
  letter-spacing: -0.01em;

  @include mixins.mq('tablet') {
    font-size: vars.$fs-xxl;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: vars.$fs-lg;
  font-weight: vars.$fw-bold;
  line-height: 1.94rem;
  letter-spacing: 0;

  @include mixins.mq('tablet') {
    font-size: vars.$fs-xl;
    line-height: 2.57rem;
    letter-spacing: -0.01em;
  }
}

h3 {
  font-size: vars.$fs-base;
  font-weight: vars.$fw-medium;
  line-height: 1.625rem;
  letter-spacing: 0;

  @include mixins.mq('tablet') {
    font-size: vars.$fs-lg;
    font-weight: vars.$fw-bold;
    line-height: 1.94rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: vars.$fw-medium;
  line-height: 1.25rem;
  letter-spacing: 0;

  @include mixins.mq('tablet') {
    font-size: vars.$fs-base;
    line-height: 1.625rem;
  }
}

p {
  font-size: vars.$fs-sm;
  font-weight: vars.$fw-regular;
  line-height: 1, 3125rem;
  letter-spacing: 0;
}

a {
  color: vars.$clr-white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
